In [4]:
60*60*24*365.25

31557600.0

In [5]:
l=[1,2,3,4,5,6,7,8,9,10]

In [7]:
for i in range(len(l)):
    l[i]=l[i]*l[i]

In [9]:
list=l[::-1]

In [10]:
list

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [75]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [76]:
pow=5

l1=[round((i**pow)-(i**(1/2))) for i in l1]

l1

[0, 31, 241, 1022, 3123, 7774, 16804, 32765, 59046, 99997]

In [28]:
type(1/2)

float

In [29]:
#number of minutes in a week
60*24*7

10080

1

In [38]:
#getting reminder without modulus 2304811 divided by 47

def rem(a,b):
    return a-(a//b)*b

rem(2304811,47)

25

In [45]:
#Task 3: Enter a Boolean expression to test whether the sum of 673 and 909 is divisible by 3.
def t3(a,b,c):
    if rem(a+b,c)==0:
        print("Divisible")
    else:
        print("Not divisible")

In [55]:
#Task 4: Assign the value -9 to x and 1/2 to y. Predict the value of the following expression, then enter it
# to check your prediction:
# 2**(y+1/2) if x+10<0 else 2**(y-1/2)

def t4(a,b):
    n1=2**(b+1/2)
    n2=2**(b-1/2)
    if a+10<0:
        return n1
    else:
        return n2

t4(-9,1/2)

1.0

In [57]:
#x3+y if x>y else y3+x
x=4
y=2
if x>y:
    print(x**3+y)
else:
    print(y**3+x)

66

In [53]:
#Task 5: Write a comprehension over {1, 2, 3, 4, 5} whose value is the set consisting of the squares of the
# first five positive integers.
{i**2 for i in {1,2,3,4,5}}

{1, 4, 9, 16, 25}

In [54]:
#Task 6: Write a comprehension over {0, 1, 2, 3, 4} whose value is the set consisting of the first five powers
# of two, starting with 2 power 0
{2**i for i in {0, 1, 2, 3, 4}}

{1, 2, 4, 8, 16}

In [102]:
# Task 7: The value of the previous comprehension, {x*y for x in {1,2,3} for y in {2,3,4}}, is a
# seven-element set. Replace {1,2,3} and {2,3,4} with two other three-element sets so that the value
# becomes a nine-element set.

len({x*y for x in {2,4,7} for y in {2,3,9}})

9

In [133]:
# Task 8: Replace {1,2,3} and {2,3,4} in the previous comprehension with 
# two disjoint (i.e. nonoverlapping) three-element sets so that the value becomes a five-element set.
set={x*y for x in {4,8,16} for y in {6,12,24}}
print(set)
len(set)

{192, 96, 384, 48, 24}

5

In [156]:
[i for i in range(8)]

[0, 1, 2, 3, 4, 5, 6, 7]

In [203]:
# Task 9: Assign 10 to the variable base. Assign the set {0,1,2,3,4,5,6,7,8,9} to the variable digits.
# Now write an expression using a comprehension and base and digits whose value is the set of all at-mostthree-digit numbers.
# Your expression should work for any base. For example, if you instead assign 2 to base and assign {0,1}
# to digits, the value of your expression should be {0,1,2,3,4,5,6,7} because this is the set of numbers
# that, base two, have at most three digits.
base=8
{x*base**2+y*base**1+z*base**0 for x in range(base) for y in range(base) for z in range(base)}

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511}

In [209]:
{i for i in range(base**3)}

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511}

In [206]:
base**3

512

In [211]:
# Task 10: Assume that S and T are assigned sets. Without using the intersection operator &, write a
# comprehension over S whose value is the intersection of S and T. Hint: Use a membership test in a filter at
# the end of the comprehension.
# Try out your comprehension with S = {1,2,3,4} and T = {3,4,5,6}.
S = {1,2,3,4}
T = {3,4,5,6}
{x for x in S if x in T}

{3, 4}

In [216]:
s=[20,10,15,75]

In [217]:
# Task 11: Write an expression whose value is the average of the elements of the list [20, 10, 15, 75].

sum(s)/len(s)

30.0

In [220]:
# Task 12: Assign to the variable LofL the list of lists [[.25, .75, .1], [-1, 0], [4, 4, 4, 4]]
# Using a comprehension, write an expression involving LofL that returns the sum of all the numbers in all
# three lists. The expression has the form sum([sum(....
LofL =[[.25, .75, .1], [-1, 0], [4, 4, 4, 4]]
sum([sum(i) for i in LofL])

16.1

In [221]:
# Task 13: Write a double list comprehension over the lists [’A’,’B’,’C’] and [1,2,3] whose value is the
# list of all possible two-element lists [letter, number]. That is, the value is
# [[’A’, 1], [’A’, 2], [’A’, 3], [’B’, 1], [’B’, 2],[’B’, 3],[’C’, 1], [’C’, 2], [’C’, 3]]
l1=['A','B','C']
l2=[1,2,3]
[[i,j] for i in l1 for j in l2 ]

[['A', 1],
 ['A', 2],
 ['A', 3],
 ['B', 1],
 ['B', 2],
 ['B', 3],
 ['C', 1],
 ['C', 2],
 ['C', 3]]

In [237]:
# Task 14: Suppose S is a set of integers, e.g. {−4, −2, 1, 2, 5, 0}. Write a triple comprehension whose value
# is a list of all three-element tuples (i, j, k) such that i, j, k are elements of S whose sum is zero.
sett={-4, -2, 1, 2, 5, 0}
[(x,y,z) for x in sett for y in sett for z in sett if x+y+z==0]

[(0, 0, 0),
 (0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

In [240]:
# Task 15: Modify the comprehension of the previous task so that the resulting list does not include (0, 0, 0).
# Hint: add a filter.
[(x,y,z) for x in sett for y in sett for z in sett if x+y+z==0 and (x,y,z)!=(0,0,0)]

[(0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

In [241]:
# Task 16: Further modify the expression so that its value is not the list of all such tuples but is the first
# such tuple.

[(x,y,z) for x in sett for y in sett for z in sett if x+y+z==0 and (x,y,z)!=(0,0,0)][0]

(0, 2, -2)

In [ ]:
# Task 17: Find an example of a list L such that len(L) and len(list(set(L))) are different. Then find
# a list L such that len(L) and len(list(set(L))) are the same but the order of elements differs between
# L and list(set(L)).

In [242]:
L=[1,3,4,6,5,4]

In [248]:
len(L) == len(list(set(L)))

False

In [249]:
L1=[1,3,2,4,5]

In [251]:
len(L1) == len(list(set(L1)))

True

In [252]:
L1 in list(set(L1))

False

In [255]:
# Task 18: Write a comprehension over a range of the form range(n) such that the 
# value of the comprehension is the set of odd numbers from 1 to 99.
[i for i in range(1,100,2)]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [256]:
List1,List2=[1,3,5],[2,4,6]

In [260]:
[(List1[i],List2[i]) for i in range(len(List1))]

[(1, 2), (3, 4), (5, 6)]

In [262]:
# Task 19: Assign to L the list consisting of the first five letters [’A’,’B’,’C’,’D’,’E’]. Next, use L in an
# expression whose value is [(0, ’A’), (1, ’B’), (2, ’C’), (3, ’D’), (4, ’E’)]. Your expression
# should use a range and a zip, but should not use a comprehension.
lis=['A','B','C','D','E']
list(zip(lis,range(len(lis))))

[('A', 0), ('B', 1), ('C', 2), ('D', 3), ('E', 4)]

In [263]:
# Task 20: Starting from the lists [10, 25, 40] and [1, 15, 20], write a comprehension whose value is
# the three-element list in which the first element is the sum of 10 and 1, the second is the sum of 25 and 15,
# and the third is the sum of 40 and 20. Your expression should use zip but not list.
a=[10, 25, 40]
b=[1, 15, 20]
[x+y for x,y in zip(a,b)]

[11, 40, 60]

In [271]:
# Task 21: Suppose dlist is a list of dictionaries and k is a key that appears in all the dictionaries in dlist.
# Write a comprehension whose value is the list whose i
# th element is the value corresponding to key k in the
# i
# th dictionary in dlist.
# Test your comprehension with some data. Here are some example data.
dlist = [{'James':'Sean', 'director':'Terence'}, {'James':'Roger',
'director':'Lewis'}, {'James':'Pierce', 'director':'Roger'}]
k = 'James'
[ v for i in dlist for ke,v in i.items() if ke==k]

['Sean', 'Roger', 'Pierce']

In [283]:
# Task 22: Modify the comprehension in Task 21 to handle the case in which k might not appear in all the
# dictionaries. The comprehension’s value is the list whose i
# th element is the value corresponding to key k in
# the i
# th dictionary in dlist if that dictionary contains that key, and ’NOT PRESENT’ otherwise.
# Test your comprehension with k = ’Bilbo’ and k = ’Frodo’ and with the following list of dictionaries:
dlist = [{'Bilbo':'Ian','Frodo':'Elijah'},
{'Bilbo':'Martin','Thorin':'Richard'}]

[ i[k] if k in i else 'Not Present' for i in dlist]

['Not Present', 'Not Present']

In [284]:
# Task 23: Using range, write a comprehension whose value is a dictionary. The keys should be the integers
# from 0 to 99 and the value corresponding to a key should be the square of the key.
{k:k*k for k in range(100)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

In [290]:
# Task 24: Assign some set to the variable D, e.g. D ={’red’,’white’,’blue’}. 
# Now write a comprehension whose value is a dictionary that represents the identity function on D.
D={'red','white','blue'}
{i:i for i in D}

{'white': 'white', 'blue': 'blue', 'red': 'red'}

In [295]:
from itertools import product

In [332]:
# Task 25: Using the variables base=10 and digits=set(range(10)), write a dictionary comprehension
# that maps each integer from 0 through 999 to the list of three digits that represents that integer in base 10.
# That is, the value should be
# {0: [0, 0, 0], 1: [0, 0, 1], 2: [0, 0, 2], 3: [0, 0, 3], ...,
# 10: [0, 1, 0], 11: [0, 1, 1], 12: [0, 1, 2], ...,
# 999: [9, 9, 9]}
# Like Task 9, your expression should work for any base. For example, if you instead assign 2 to base and
# assign {0,1} to digits, the value should be
# {0: [0, 0, 0], 1: [0, 0, 1], 2: [0, 1, 0], 3: [0, 1, 1],
# ..., 7: [1, 1, 1]}
b=3
{(i[0]*b**2)+(i[1]*b)+i[2]:list(i) for i in product(range(b),range(b),range(b))}

{0: [0, 0, 0],
 1: [0, 0, 1],
 2: [0, 0, 2],
 3: [0, 1, 0],
 4: [0, 1, 1],
 5: [0, 1, 2],
 6: [0, 2, 0],
 7: [0, 2, 1],
 8: [0, 2, 2],
 9: [1, 0, 0],
 10: [1, 0, 1],
 11: [1, 0, 2],
 12: [1, 1, 0],
 13: [1, 1, 1],
 14: [1, 1, 2],
 15: [1, 2, 0],
 16: [1, 2, 1],
 17: [1, 2, 2],
 18: [2, 0, 0],
 19: [2, 0, 1],
 20: [2, 0, 2],
 21: [2, 1, 0],
 22: [2, 1, 1],
 23: [2, 1, 2],
 24: [2, 2, 0],
 25: [2, 2, 1],
 26: [2, 2, 2]}

In [347]:
# Task 26: Suppose d is a dictionary that maps some employee IDs (a subset of the integers from 0 to n−1)
# to salaries. Suppose L is an n-element list whose i
# th element is the name of employee number i. Your goal is
# to write a comprehension whose value is a dictionary mapping employee names to salaries. You can assume
# that employee names are distinct. However, not every employee ID is represented in d.
d = {0:1000.0, 3:1200.50, 2:990}
L = ['Larry', 'Curly', 'Moe']
{L[i]:x[1] for x,i in zip(d.items(),range(len(L))) }

{'Larry': 1000.0, 'Curly': 1200.5, 'Moe': 990}

In [351]:
# Task 27: Define a one-line procedure nextInts(L) specified as follows:
# • input: list L of integers
# • output: list of integers whose i th element is one more than the i th element of L
# • example: input [1, 5, 7], output [2, 6, 8].
def t27(l): return [i+1 for i in l]
t27([1, 5, 7])

[2, 6, 8]

In [352]:
# Task 28: Define a one-line procedure cubes(L) specified as follows:
# • input: list L of numbers
# • output: list of numbers whose i th element is the cube of the i th element of L 
# • example: input [1, 2, 3], output [1, 8, 27].
def t28(l): return [i**3 for i in l]
t28([1, 2, 3])

[1, 8, 27]

In [360]:
# Task 29: Define a one-line procedure dict2list(dct,keylist) with this spec:
# • input: dictionary dct, list keylist consisting of the keys of dct
# • output: list L such that L[i] = dct[keylist[i]] for i = 0, 1, 2, . . . , len(keylist) − 1
# • example: input dct={’a’:’A’, ’b’:’B’, ’c’:’C’} and keylist=[’b’,’c’,’a’], output [’B’, ’C’, ’A’]

In [361]:
dct={'a':'A','b':'B', 'c':'C'} 
keylist=['b','c','a']
# output=['B','C','A']
def dict2list(dct,keylist): return [dct[keylist[i]] for i in range(len(keylist))]
dict2list(dct,keylist)

['B', 'C', 'A']

In [ ]:
# Task 30: Define a one-line procedure list2dict(L, keylist) specified as follows:
# • input: list L, list keylist of immutable items
# • output: dictionary that maps keylist[i] to L[i] for i = 0, 1, 2, . . . , len(L) − 1
# • example: input L=[’A’,’B’,’C’] and keylist=[’a’,’b’,’c’], output
# {’a’:’A’, ’b’:’B’, ’c’:’C’}
# Hint: Use a comprehension that iterates over a zip or a range.

In [363]:
L=['A','B','C'] 
keylist=['a','b','c']
def list2dict(L, keylist):return {keylist[i]:L[i] for i in range(len(L))}
list2dict(L,keylist)

{'a': 'A', 'b': 'B', 'c': 'C'}

In [364]:
def list2dict0(L, keylist):return {k:v for v,k in zip(L,keylist)}
list2dict0(L,keylist)

{'a': 'A', 'b': 'B', 'c': 'C'}